.navbar {
  overflow: hidden;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 2rem;
  padding: 0.5rem;
  z-index: 1;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  border-right: solid 1px #926cf9;
  padding: 0 1rem;
}

.img {
  padding: 0.5rem;
}

.borderCircle {
  border-radius: 9999px;
}
