.navbar {
  overflow: hidden;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 2rem;
  padding: 0.5rem;
  z-index: 1;
}

.items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.items a {
  border-right: solid 1px #926cf9;
  padding: 0 0.5rem;
  margin: 0 0.5%;
}

.items a:hover {
  background-color: #beb7d3;
  color: #fff;
  border-radius: 9999px;
  border: #fff;
  transition: all 0.3s;
}

.img {
  padding: 0.5rem;
}

.borderCircle {
  border-radius: 9999px;
}
