.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 0 2rem;
  padding-top: 25vh;
  margin-left: 1rem;
  font-size: 2rem;
}

.img {
  padding: 2rem;
}
