.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
}

.title {
  margin: 5%;
  font-size: 1.5rem;
  overflow: hidden;
  height: 0;
  opacity: 0;
  font-size: 1.7rem;
}

.visible {
  height: auto;
  opacity: 1;
  transition: all 2s ease-in-out;
}

.img {
  padding: 2rem;
}

.button {
  padding: 1rem 2rem;
  background-color: rgb(201, 201, 248);
  border: 0;
  border-radius: 9999px;
  color: #1b0066;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(100, 100, 255);
  color: #ffcafb;
  transition: all 0.2s;
}

.title i {
  margin-left: 1rem;
  font-size: 2rem;
  color: #da83fd;
}

.home h5 {
  font-weight: 300;
}

.home span {
  padding: 0 1rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.title div {
  animation: 2s ease-out 0s 1 slideInFromLeft;
}
